alembic==1.10.4
aniso8601==9.0.1
anyio==3.6.2
attrs==23.1.0
bcrypt==4.0.1
black==23.3.0
blinker==1.6.2
certifi==2022.12.7
click==8.1.3
exceptiongroup==1.1.1
Flask==2.3.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
Flask-Migrate==4.0.4
flask-restx==1.1.0
Flask-SQLAlchemy==3.0.3
greenlet==2.0.2
h11==0.14.0
httpcore==0.17.0
httpx==0.24.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
Mako==1.2.4
MarkupSafe==2.1.2
mypy-extensions==1.0.0
openapi==1.1.0
packaging==23.1
passlib==1.7.4
pathspec==0.11.1
platformdirs==3.5.0
pluggy==1.0.0
psycopg2-binary==2.9.6
PyJWT==2.6.0
pyrsistent==0.19.3
pytest==7.3.1
pytz==2023.3
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.11
tomli==2.0.1
typing_extensions==4.5.0
Werkzeug==2.3.2
